<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>P2A pay fake gateway</title>
</head>
<body>
    <a href="{{url_ok}}">[ok]</a>
    <a href="{{url_failure}}">[failure]</a>
</body>
</html>